@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200..700&display=swap");
@import url(//db.onlinewebfonts.com/c/6061c980f1f3f9420e1829c57a44cd23?family=Gilroy+Heavy);
@import url(//db.onlinewebfonts.com/c/1064f0ad1cb65fdab43bb592ddd8aa91?family=Gilroy+Bold);
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

webpack-dev-server-client-overlay{
    display: none !important;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  color:#333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Gilroy Bold", sans-serif;
    font-weight: 500;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

.test{
  position: fixed;
bottom: 0;
text-align: center;
width: 100%;
opacity: 0.5;
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ganttChart{
    height: 90vh;
}

hr{
    border-top: 1px solid #ddd;
}

a{
    text-decoration: none;
    color: inherit;
}