@use 'var';

body.active-modal{
    overflow: hidden;
}

div.overlay{
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.modal{
    display: flex;
    flex-flow: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    //border: 1px solid #e7e7e7;
    background-color: var.$bg2;
    border-radius: 6px;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width:666px;
    height: 80vh;
    .hero{
        background-color: var.$brand-color-1;
        //background-image:
        //        radial-gradient(at 94% 14%, hsla(257,100%,58%,1) 0px, transparent 50%),
        //        radial-gradient(at 33% 12%, hsla(227,100%,58%,1) 0px, transparent 50%),
        //        radial-gradient(at 13% 86%, hsla(257,100%,75%,1) 0px, transparent 50%),
        //        radial-gradient(at 91% 98%, hsla(227,100%,36%,1) 0px, transparent 50%);
        background-image: linear-gradient(rgba(0,0,0,0) 85%,rgba(0,0,0,0.2));
        border-radius: 6px 6px 0 0;
        .hero-content{
            margin: auto;
            display: flex;
            .task-info{
                margin: auto 0;
                color: #ffffff;
                h2{
                    margin: 0;
                    padding-right: 20px;
                    line-height: 1;
                }
                .info-line{
                    text-transform: uppercase;
                    font-size: 0.7em;
                    margin: 0.5em 0;
                    .attr{
                        opacity: 0.8;
                    }
                    .value{
                        font-weight: 700;
                    }
                }
            }

        }
    }
    .header{
        flex: 0 1 auto;
        //border-bottom: 1px solid var.$border;
        margin: 0;
        padding: 2em 2em 0 2em;
        background-color: var.$bg1;
        border-radius: 6px 6px 0 0;
        h2{
            display: inline-block;
        }
    }
    .content{
        flex: 1 1 auto;
        padding: 2em;
        overflow: scroll;
        //background-color: var.$bg2;
    }
    .close{
        float:right;
        cursor: pointer;
        color: var.$brand-color-1;
        &:hover{
            filter: brightness(1.1);
        }
        .close-text{
            float: left;
        }
        .close-button{
            line-height: 0.8em !important;
        }
    }
    .modal-footer{
        border-top: 1px solid var.$border;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        background-color: var.$bg1;
        border-radius: 0 0 6px 5px;
        width: 100%;
        .modal-footer-content{
            padding: 20px;
            display: flow-root;
        }
        .footer-buttons{
            float: right;
        }

    }
}

.overview-panel{
    display: grid;
    gap: 1em;
    grid-template-columns: 3fr 3fr 3fr;
    align-items: center;
}

.react-tabs{
    display: flex;
    flex-direction: column;
    height: 0;
    flex: 1 1 auto;
}

.tabs{
    background-color: var.$bg1;
}

@media only screen and (max-width: var.$mobile-width) {
    .overview-panel{
        grid-template-columns: 1fr;
    }
    .modal{
        max-height: 100vh;
        height:100vh;
    }
}