@use 'var';

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.navbar {
  overflow: hidden;
  border-bottom: 1px solid var.$border;
  //box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.3);
  background-color: var.$bg1;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    display: inline-block;
  }
  li {
    display: inline-block;
    a {
      display: inline-block;
      color: var.$brand-color-1;
      text-align: center;
      padding: 1.25em;
      margin: 0.5em;
      font-size: 0.7em;
      line-height: 1em;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-align: center;
      text-indent: 4px;
      border-radius: 6px;
      font-weight: 600;
      &:hover {
        background-color: var.$bg1;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      }

    }
  }
}
.navbar-logo {
  height: 1.5em;
  display: block;
  float: left;
  padding: 1em 0;
}
.navbar-brand {
  font-size: 1.5em;
  padding: 0.4em 0.75em 0.4em 0;
  float: left;
  font-family: var.$brand-font;
  background: linear-gradient(var.$brand-color-2, var.$brand-color-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.mobile-brand{
  margin-right: 6px;
}

.navbar li a.active{
  color: var.$bg1;
  background-color: var.$brand-color-1;
}

.navbar li a.inactive{
  color: var.$brand-color-1 !important;
  background-color: var.$bg1 !important;
}

.navbar-account{
  border: 2px solid var.$border;
  float: right;
  height: 40px;
  width: 40px;
  background-color: var.$border;
  border-radius: 100%;
  margin: 6px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .account-menu{
    display:none;
  }
  &:hover{
  border:2px solid var.$brand-color-1;
  cursor: pointer;
  .account-menu{
    display:block;
    background: var.$bg1;
    position:absolute;
    top:50px;
    right: 20px;
    padding:1em;
    border-radius:0 0 6px 6px;
    border-bottom: var.$border solid 1px;
    border-left: var.$border solid 1px;
    border-right: var.$border solid 1px;
  }
  ul{
  display: grid
  }

  }
}

@media only screen and (max-width: var.$mobile-width) {
  /* For mobile phones: */
  .desktop-brand {
    display: none;
  }
  .mobile-brand{
    margin-right: 0;
  }

}