@use 'var';

.progressBar{
  height: 2em;
  width: 100%;
  background-color: var.$bg3;
  border-radius: 50px;
  .fill{
    height: 100%;
    background: linear-gradient(to right, var.$brand-color-2, var.$brand-color-1);
    text-align: right;
    border-radius: inherit;
    width: 0%;
    transition: width 0.5s;
    .label{
      margin: 0.5em;
      color: #fff;
      font-weight: 600;
      font-size: 1.3em;
      line-height: 1.5em;
    }
  }
}
